<.form let={f} for={@changeset}, action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, "Enter a long URL:" %>
  <%= text_input f, :long_url %>
  <%= error_tag f, :long_url %>

  <div>
    <%= submit "Get a short URL" %>
  </div>
</.form>
